<div class="container">
    <div class="row">
        <div class="col-md-12" id="titleDiv">
            <h1 id="title">News Scraper</h1>
        </div>
    </div>
    <div class="row" class="linkRow">
        <div class="col-md-4">
            <a href="/saved" class="upper-link">SAVED ARTICLES</a>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm" id="scrapeBtn">SCRAPE</button>
        </div>
        <div class="col-md-4">
            <a href="https://news.ycombinator.com" class="upper-link">https://news.ycombinator.com</a>
        </div>
    </div>

    <hr class="white-underline">
    {{!-- Saved articles --}}
    <div class="row">
        <a href="/">Home</a>
        <div class="col-md-6" id="saved">
            {{#each saved}}
            <div class="article">
                <h2 class="headline">{{title}}</h2>
                {{!-- <ul>
                    <li>{{summaryOne}}</li>
                </ul> --}}
                <a href={{link}}>Full Story</a>
                <form action="/unsave" method="PUT" id="delete-article">
                    <input type="hidden" name="id" value={{_id}}>
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    <hr />
                </form>
                <form action="/newnote" method="PUT" id="new-note">
                    <input type="hidden" value={{_id}}>
                    <input type="name" class="form-control" id="message">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div id="noteDiv">
                {{#each note}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>

    {{!-- All articles --}}
     <div class="row">
        <div class="col-md-6" id="saved">
            {{#each result}}
            <div class="article">
                <h2 class="headline">{{title}}</h2>
                {{!-- <ul>
                    <li>{{summaryOne}}</li>
                </ul> --}}
                <a href={{link}}>Full Story</a>
                <form action="/unsave" method="PUT" id="delete-article">
                    <input type="hidden" name="id" value={{_id}}>
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    <hr />
                </form>
                <form action="/saved" method="PUT" id="save-article">
                    <input type="hidden" name="id" value={{_id}}>
                    <button class="btn btn-danger btn-sm" type="submit">Save</button>
                    <hr />
                </form>
                <form action="/newnote" method="PUT" id="new-note">
                    <input type="hidden" value={{_id}}>
                    <input type="name" class="form-control" id="message">
                    <button type="submit" class="btn btn-primary">Submit Note</button>
                </form>
            </div>
            <div id="noteDiv">
                {{#each note}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>
